:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.people-page {
  &__card {
    pointer-events: none;
  }

  &__img,
  &__subtitle,
  &__title,
  &__button {
    pointer-events: initial;
  }

  &__subtitle {
    display: inline-block;
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
